<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="OFF"/>
    <logger name="com.shit.code.spring.boot.cache.ShitCodeCache" level="DEBUG"/>

    <springProfile name="dev">
        <include resource="config/logback-spring-dev.xml"/>
    </springProfile>
    <springProfile name="stg">
        <include resource="config/logback-spring-dev.xml"/>
    </springProfile>
    <springProfile name="prod">
        <include url="http://nginx.shit-code.com/logback-spring.xml"/>
    </springProfile>
</configuration>
